
<div [class.preview]="role.Preview === fs.role || role.Read === fs.role">
  <mat-form-field *ngIf="role.Preview === fs.role || role.Read === fs.role">
    <input matInput placeholder="Question"
           [required]="field.required"
           [value]="field.description"
           readonly = "readonly"
    >
  </mat-form-field>
  <div class="checkbox-lists">
    <mat-radio-group aria-label="Select an option" [(ngModel)]="field.selected">
      <div class="checkbox-item" *ngFor="let checkboxes of checkboxes; let isFirst = first">
        <div>
          <div>
            <mat-radio-button
              [value]="checkboxes.id"
              [disabled]="role.Preview !== fs.role || field.readonly"
            >
            </mat-radio-button></div>
        </div>
        <div>
          <mat-form-field>
            <input matInput
                   [readonly]="role.Preview == fs.role || field.readonly"
                   [(ngModel)]="checkboxes.label">
          </mat-form-field></div>
        <div >
          <button
            *ngIf="isEdit && !isFirst"
            (click)="delete(checkboxes.id)">Delete</button>
        </div>
      </div>
    </mat-radio-group>
    <button
      *ngIf="isEdit"
      (click)="addCheckbox()">
      Add option
    </button>
  </div>
</div>





